li{
	animation-name: example;
	animation-duration: 4s;
}
@keyframes example {
	from {
		opacity: 0;
	}
	to {opacity: 1;}
}
.rsid{ 
	font-size: 15px;
	width: 10%;
	margin-right: 2px;
	min-height: 25px;
	min-width: 20px;
	background-color: gray;
	border: 1px solid #fff;
	color: white;
	font-size: 20px;
	padding: 2px;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li{
	list-style-type: none;
}

@media screen and (min-width: 700px){
	.rsid{
		width: 45%;
	}
}